<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<!--div class="spinner"  [hidden] = 'spinner'><img src="../../../assets/spinner.gif" alt="" srcset=""></div-->


<div class="row" style="padding-top: 150px;">
    <div class="col-md-12" *ngFor="let userBtn of users" >
      <button type="button" class="button btn-primary" (click)="loginWithUser(userBtn.email, userBtn.password)"> 
        <img src="{{userBtn.profileImgOne}}" alt="" srcset="" class="img">
      </button>
      <br>
      <br>
    </div>
    <div class="col-md-12 text-center form-signin"  >
        <form>
            <h1 class="h3 mb-3 fw-normal">{{'PleaseMessage' | translate}}</h1>
        
            <div class="form-floating">
              <input [(ngModel)]="user.email" name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com"  >
              <label for="floatingInput">{{'EMAIL' | translate}}</label>
            </div>
            <div class="form-floating">
              <input [(ngModel)]="user.password" name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" >
              <label for="floatingPassword">{{'PASSWORD' | translate}}</label>
            </div>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me" disabled> {{'REMEMBERME' | translate}}
              </label>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="login()">{{'LOGIN' | translate}}</button>    
                </div>
                <div class="col-md-6">
                    <button class="w-100 btn btn-lg btn-outline-primary" type="submit" (click)="register()">{{'REGISTER' | translate}}</button>    
                </div>
                <div class="col-md-2 offset-3 ">
                  <button class="btn btn-primary" (click)="changeLang('es')"><img src="../../../assets/icons8-spain-48.png" alt="" srcset=""></button>
                </div>
                <div class="col-md-2  ">
                  <button class="btn btn-primary" (click)="changeLang('en')"><img src="../../../assets/icons8-usa-48.png" alt="" srcset=""></button>
                </div>
                <div class="col-md-2 ">
                  <button class="btn btn-primary" (click)="changeLang('pr')"><img src="../../../assets/icons8-portugal-48.png" alt="" srcset=""></button>
                </div>
                
            </div>
            
          </form>
    </div>
  </div>
  
  
   
