<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<div class="text-center">
  <div class="row" *ngIf="loginUser.profile == 'Administrador'">
    <div class="col-md-2" *ngFor="let paciente of pacientes" ><br>
      {{paciente.fistName}} {{paciente.lastName}}
      <br>
        <button type="button" class="btn btn-primary"  (click)="seleccionarPaciente(paciente)"> 
          <img src="{{paciente.imageOne}}" alt="" srcset="" class="img" style="height: 100px;">
        </button>
      <br>
    </div>
    <br>
  </div>
  <div class="row">
    <div class="col-md-2" *ngFor="let especialidad of especialidades" >
      <button type="button" class="btn btn-primary" (click)="seleccionarEspecialidad(especialidad)"> 
        <img src="../../../../assets/{{especialidad}}.jpg" alt="" srcset="" class="img" style="height: 100px;">
      </button>
      <br>
      {{especialidad}}
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2" *ngFor="let especialista of specialists" ><br>
      {{especialista.fistName}} {{especialista.lastName}}
      <br>
        <button type="button" class="btn btn-primary"  (click)="seleccionarEspecialista(especialista)"> 
          <img src="{{especialista.imageOne}}" alt="" srcset="" class="img" style="height: 100px;">
        </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let day of fechas" ><br>
      <button type="button" class="btn btn-primary" (click)="seleccionarDia(day)">{{day | date:"fullDate"}} </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1" *ngFor="let horario of horarios" ><br>
      <button type="button" class="btn btn-primary" (click)="seleccionarHora(horario)">{{horario }}</button>
    </div>
  </div>
  <div class="row align-items-end">
    <br>
    <br>
    <div class="offset-8 col-md-4">
     <button class="btn btn-primary" (click)="crearTurno()">Crear turno</button> 
    </div> 
  </div>
</div>