<div class="col-sm-12">
        <button class="btn btn-primary" (click)="actualizar()">Actualizar Graficos</button>
        <button class="btn btn-primary" (click)="descargarPdf()">Descargar Graficos</button>

    </div>
<div class="row" #graficos>
    
    <div class="col-sm-6">
        <h2>Cantidad de turnos por especialidad</h2>
        <canvas id="turnosPorEspecialidad"></canvas>
    </div>
    <div class="col-sm-6">
        <h2>Cantidad de turnos por especialista</h2>
        <canvas id="turnosPorEspecialista"></canvas>
    </div>
    <div class="col-sm-6">
        <h2>Cantidad de turnos solicitados en 15 dias</h2>
        <canvas id="turnosSolicitados"></canvas>
    </div>
    <div class="col-sm-6">
        <h2>Cantidad de turnos realizados en 15 dias</h2>
        <canvas id="turnosRealizados"></canvas>
    </div>
</div>