<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<app-tabla-turnos [turnos]="turnos" (selectedAcction)="handleAction($event)" ></app-tabla-turnos>
<ng-template #cancelarModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Cancelar Turno</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<div class="col-md-12">
            <label for="recomendacion">¿Por que motivo cancela el turno?</label>
            <textarea 
                class="form-control" placeholder="Leave a comment here" 
                id="recomendacion" style="height: 100px" 
                [(ngModel)]="turno.cancelado"
            >
            </textarea>
	    </div>
	</div>
	<div class="modal-footer">
        <button class="btn btn-primary" (click)="cancelarTurno()">Canelar turno</button>
	</div>
</ng-template>
