<button class="btn btn-primary" (click)="exportexcel()"> descargar </button>
<table class="table table-info table-hover table-striped scale-up-ver-bottom " id="table">
    <thead>
        <tr>
            <th>{{'NAME' | translate}}</th>
            <th>{{'LASTNAME' | translate}}</th>
            <th>{{'AGE' | translate}}</th>
            <th>DNI.</th>
            <th>{{'EMAIL' | translate}}</th>
            <th>{{'PROFILEIMAGE' | translate}}</th>
            <th>{{'ACTIONS' | translate}}</th>
        </tr>
        

    </thead>
    <tbody >
        <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.fistName}}</td>
            <td>{{usuario.lastName}}</td>
            <td>{{usuario.age}}</td>
            <td>{{usuario.dni}}</td>
            <td>{{usuario.email}}</td>
            <td>
                <img src="{{usuario.imageOne}}" alt="" srcset="" style="height: 100px;">
            </td>
            <td *ngIf="usuario.profile == 'Especialista' && usuario.isActive == false; else paciente">
                <button class="btn btn-primary" (click)="activar(usuario)"> Activar</button>
            </td>
            <ng-template #paciente>
                <td *ngIf="usuario.profile == 'Paciente'; else administrador">
                    <button type="button" class="btn btn-primary btn-floating" (click)="descargarHistoria(usuario)">
                        <i class="fa-solid fa-download"></i>
                      </button>
                </td>
            </ng-template>
            <ng-template #administrador>
                <td>{{'NOACTIONS' | translate}}</td>
            </ng-template>

        </tr>
        
    </tbody>
</table>